body{ 
    font-family: 'Poppins', sans-serif; 
    max-width: 1280px; 
    margin: 0 auto; 
    background-color: #f0e9e9; 
    color: #333333;

} 

body.modo-escuro{ 
    background-color: rgb(41, 35, 35); 
    color: #0d0101;    
} 

body.modo-escuro .cartao-pokemon{ 
    background:linear-gradient(to bottom, rgb(157, 11, 11) 50%,rgb(184, 186, 184) 50%);
}

header{  
    display: flex; 
    justify-content: space-between; 
    padding: 24px;
} 

header .logomarca{ 
    width: 100px;
}
header .logo, 
header .imagem-botao{ 
    width: 40px;
} 

header #botao-tema{ 
    background: none; 
    border: none; 
    cursor: pointer;
} 

header .logomarca:hover,
header .logo:hover, 
header .imagem-botao:hover{ 
    transform: scale(1.5);
} 

main{ 
    padding: 20px;
}

main .listagem-pokemon{ 
    display: flex; 
    flex-wrap: wrap; 
    gap: 30px; 
    justify-content: center;
} 

main .cartao-pokemon{  
    background:linear-gradient(to bottom,red 50%, white 50%); 
    width: 200px; 
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
    border-radius: 15px; 
    transition: 0,2s ease-in-out;
} 

main .cartao-pokemon:hover{  
    transform: scale(1.05);
} 

main .cartao-pokemon .informacoes{ 
    display: flex; 
    justify-content: space-between; 
    border: 2px solid #f7f5f5; 
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{  
    padding: 5px; 
    text-transform: uppercase; 
    font-size: 15px; 
    font-weight: 400; 
    color:#ffffff
} 

main .cartao-pokemon .gif{ 
    width: 90px; 
    height: 90px;
}

main .cartao-pokemon .tipos{ 
    display: flex; 
    gap: 15px;  
} 

main .cartao-pokemon .tipo{ 
    padding: 8px;  
    border-radius: 10px;

} 

.grama{ 
    background-color: rgba(27, 239, 8, 0.749);
}  

.veneno{ 
    background-color: rgba(218, 69, 241, 0.766);
} 

.fogo{ 
    background-color: rgb(255, 123, 0);
} 

.agua{ 
    background-color: rgb(0, 170, 255);
} 

.inseto{ 
    background-color: #e1f4a7;
}

main .descricao{ 
    max-height: 82px; 
    overflow-y: scroll; 
    font-size: 14px; 
    padding-right: 10px;
}